<div class="quest-container">


  <div class="top-container">
    <div *ngIf="quest.type === QUEST_TYPE.gainTotal">
      Gain 100$ in {{quest.duration}}
    </div>

    <div *ngIf="quest.type === QUEST_TYPE.beatBitcoin">
      Beat Bitcoin in {{quest.duration}}
    </div>

    <div *ngIf="quest.type === QUEST_TYPE.beatAverage">
      Beat average in {{quest.duration}}
    </div>

    <div *ngIf="quest.type === QUEST_TYPE.beatHodler">
      Beat the Hodler in {{quest.duration}}
    </div>
  </div>



  <div class="mid-container" *ngIf="quest.status !== QUEST_STATUS.prestart">
    <div class="chart">
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [plugins]="chartPlugins"
        [legend]="chartLegend" [colors]="chartColors" [chartType]="chartType">
      </canvas>
    </div>
  </div>


  <div class="bottom-container">
    <div *ngIf="quest.status === QUEST_STATUS.active">
      quest ends in
      {{hours}}:{{minutes | number:'2.0-0'}}:{{seconds | number:'2.0-0'}}
    </div>

    <div *ngIf="quest.status === QUEST_STATUS.prestart">
      <button (click)="startQuest()">start quest</button>
    </div>

    <div class="result-container" *ngIf="quest.status === QUEST_STATUS.won">
      <div></div>
      You won!
      <button (click)="getReward()">Get {{QUEST_REWARD}}$ reward</button>
    </div>

    <div class="result-container" *ngIf="quest.status === QUEST_STATUS.lost">
      <div></div>
      Sorry, you lost!
      <button (click)="newQuest()">new quest</button>
    </div>
  </div>
</div>
