<div *ngIf="quest.status === QUEST_STATUS.prestart">

  {{quest.type}} <br>
  <div *ngIf="quest.type === QUEST_TYPE.gainTotal">
    Gain 100$ total in {{quest.duration}}
  </div>
  <button (click)="startQuest()">start quest</button>

</div>

<div *ngIf="quest.status !== QUEST_STATUS.prestart">
  score: {{quest.score}} <br>
  target: {{quest.target}} <br>
  quest ends in <br>
  {{hours}}:{{minutes | number:'2.0-0'}}:{{seconds | number:'2.0-0'}} hours

  <div *ngIf="quest.status === QUEST_STATUS.won">
    <button (click)="getReward()">Get {{QUEST_REWARD}}$ reward</button>
  </div>
  <div>
    <button (click)="newQuest()">new quest</button>
  </div>

</div>

