
<div class="settings-bar">
    <input class="radio-input" type="radio" value={{this.RADIOCHECKED.day}} name="myRadio" id="radioDay" [(ngModel)]="this.radioChecked">
    <label class="radio-label" for="radioDay" (click)="range(this.RADIOCHECKED.day)">1d</label>
    <input class="radio-input" type="radio" value={{this.RADIOCHECKED.week}} name="myRadio" id="radioWeek" [(ngModel)]="this.radioChecked">
    <label class="radio-label" for="radioWeek" (click)="range(this.RADIOCHECKED.week)">7d</label>
    <input class="radio-input" type="radio" value={{this.RADIOCHECKED.month}} name="myRadio" id="radioMonth" [(ngModel)]="this.radioChecked">
    <label class="radio-label" for="radioMonth" (click)="range(this.RADIOCHECKED.month)">28d</label>
    <input class="radio-input" type="radio" value={{this.RADIOCHECKED.year}} name="myRadio" id="radioYear" [(ngModel)]="this.radioChecked">
    <label class="radio-label" for="radioYear" (click)="range(this.RADIOCHECKED.year)">1y</label>
    <input class="radio-input" type="radio" value={{this.RADIOCHECKED.all}} name="myRadio" id="radioAll" [(ngModel)]="this.radioChecked">
    <label class="radio-label" for="radioAll" (click)="range(this.RADIOCHECKED.all)">all</label>
    <input class="radio-input" type="radio" value="offer" name="myRadio" id="radioOffer" [(ngModel)]="this.radioChecked">
    <label [@highlight]="getOfferButtonState()" class="radio-label" for="radioOffer" (click)="offer()">offer</label>
    <input class="radio-input" type="radio" value="quest" name="myRadio" id="radioQuest" [(ngModel)]="this.radioChecked">
    <label class="radio-label" for="radioQuest" (click)="quest()">quest</label>
</div>
